*{
    text-decoration: none;
}
body{
    background-color: beige;
}
h1{
    color: crimson;
}
#head-img{
    background-image: url(https://c-static.smartphoto.com/structured/repositoryimage/productcategory/fun_ideas/recipe_book/material/0001/image/material.jpg);
    background-size: cover;
    height: 300px;
}

.content-all{
    display: flex;
}
.content{
    text-align: center;
    background-color: lightblue;
    margin: 2% 2%;
    border-radius: 10px;
    padding: 10px;
    flex: 1;
}

/* -------Span tryings------*/
#position-left{
    text-align: left;
    margin-left: 10%;
}
#position-right{
    text-align: right;
}
span#hello-left{
    border-style: solid;
    border-color: lightcoral;
    padding: 5px;
}
span#night-right{
    display: inline-block;
    border-style: solid;
    border-color: lightgreen;
    width: 50px;
    padding: 20px;
}

/* --- Footer --- */
#footer{
    background-color: chocolate;
    display: flex;
}
#footer div{
    height: 100px;
    text-align: center;
    padding: 30px;
    flex: 1 1 0%;
    border-style: solid;
    border-color: crimson;
}
#footer div#footer-name{
    flex: 5 1 0%;
}