*{
    text-decoration: none;
}
body{
    background-color: beige;
}
h1{
    color: crimson;
}
#head-img{
    background-image: url(https://c-static.smartphoto.com/structured/repositoryimage/productcategory/fun_ideas/recipe_book/material/0001/image/material.jpg);
    background-size: cover;
    height: 300px;
}

/* -------Span tryings------*/
#position-left{
    text-align: left;
    margin-left: 10%;
}
#position-right{
    text-align: right;
}
span#hello-left{
    border-style: solid;
    border-color: lightcoral;
    padding: 5px;
}
span#night-right{
    display: inline-block;
    border-style: solid;
    border-color: lightgreen;
    width: 50px;
    padding: 20px;
}

/* --- Flexboxes/Content --- */
.content-horizontal{
    display: flex;
    flex-direction: row;
}
.content1{
    text-align: center;
    background-color: lightblue;
    margin: 2% 2%;
    border-radius: 10px;
    padding: 10px;
    flex: 1;
}
.content-vertical{
    display: flex;
    flex-direction: column;
}
.content2{
    text-align: center;
    background-color: rgb(173, 230, 185);
    margin: 2% 2%;
    border-radius: 10px;
    padding: 10px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row-reverse;
}
.content2 div{
    padding: 5px;
}
.content2a{
    text-align: center;
    background-color: rgb(173, 230, 185);
    margin-left: 2%;
    width: 250px;
    border-radius: 10px;
    padding: 10px;
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap; /* allows items to wrap if no enough space */
}
.content2a div{
    padding: 5px;
}

/* --- Flexbox scaling --- */
.content2b{
    text-align: center;
    background-color: rgb(173, 230, 185);
    margin: 2% 2%;
    height: 300px;
    border-radius: 10px;
    padding: 30px;
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
}
.content2b div{
    border: 4px solid indigo;
    width: 300px;
    height: 200px;
}
div.image-test1 img{
    width: 100px;
}
.content2c{
    text-align: center;
    background-color: rgb(173, 230, 185);
    margin: 2% 2%;
    height: 300px;
    border-radius: 10px;
    padding: 30px;
    flex: 1 1 auto;
    display: flex;
    justify-content: center; /* aligns items horizontally*/
    align-items: center; /* aligns items vertically */
    gap: 8px; /* adds a gap between items */
}
.content2c div{
    border: 4px solid indigo;
    width: 300px;
    height: 200px;
}

/* --- Footer --- */
#footer{
    background-color: chocolate;
    display: flex;
}
#footer div{
    height: 100px;
    text-align: center;
    padding: 30px;
    flex: 1 1 0%;
    border-style: solid;
    border-color: crimson;
}
#footer div#footer-name{
    flex: 5 1 0%;
}